// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
	font-family: Poppins;
	font-weight: 400;

}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.header {
	background: #ba0000;

	&__nav{
		display: flex;
		align-items: center;
		padding: 18px 0;
	}

	&__english {
		display: flex;
		align-items: center;
		&_text {
			margin-right: 6px;
			letter-spacing: 0.03em;
			color: #ffffff;
		}
		&_icon {
			width: 12px;
			height: 8px;
		}
	}
	&__contact {
		display: flex;
		margin: 0 30px 0 auto;
		align-items: center; 
		&_icon {
			width: 17px;
			height: 17px;
			margin-right: 6px;
		}
		&_text {
			letter-spacing: 0.03em;
			color: #ffffff
		}
	}
	&__profile {
		display: flex;
		align-items: center;
		&_text {
			margin-right: 6px;
			letter-spacing: 0.03em;
			color: #ffffff
		}
		&_icon {
			width: 12px;
			height: 8px;
		}
	}
}

.main-menu {
	background-color: #ffcc00;
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {}
	&__logo-icon {}
	&__list {
		display: flex;
		margin:  55px 55px 0 0;
		flex-wrap: wrap;

	}
	&__circle {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #ba0000;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all 0.5s ease;
		&:hover{
		background-color:#D81717;
		box-shadow: 2px 3px 21px 1px rgba(0, 0, 0, 0.45);
		}
	}
	&__search {}
}

.list {
	margin-right: 20px;
	text-transform: uppercase;
	color: #ba0000;
	cursor: pointer;
	transition: all 0.3s ease;
	border-bottom: 4px solid transparent;
	padding: 0 13px 50px;

}
.list:last-child{
	margin-right: 0;
}
.list:hover{
	font-weight: 700;
	border-bottom: 4px solid #ba0000;
}

.offer {
	background:  linear-gradient(45.0deg, #ba0000 20%, rgba(255,204,0,0.0) 69%), url('../img/offer.jpg') center no-repeat;
	background-size: cover;
	&__content {
		&_title {
			font-weight: 700;
			font-size: 70px;
			line-height: 80px;
			letter-spacing: 0.03em;
			color: #ffffff;
			padding: 170px 0 0 0;


		}
		&_line {
			width: 100px;
			height: 4px;
			background-color: #ffcc00;
			margin-top: 40px;
		}
		&_subtitle {
			font-size: 20px;
			line-height: 30px;
			letter-spacing: 0.03em;
			color: #ffcc00;
			margin-top: 40px;
			max-width: 750px;

		}
		&__slogan{
			display: flex;
			align-items: flex-end;
			margin: 40px 0;
		}
		&__slogan_amazing {
			margin-right: 25px;	
		}
		&__slogan_point {
			width: 5px;
			height: 5px;
			background-color: #ffcc00;
			border-radius: 50%;
			margin: 0 25px 7px 0;
		}
		&__slogan_quick {
			margin-right: 25px;	
		}
		&_slogan__supports {}

		&_btn {
				padding-bottom: 200px;
		}
		&_btn_learn {
			background-color: #ffcc00;
			box-shadow: 0px 10px 18px 0px rgba(255,204,0,0.4);
			border-radius: 25px;
			padding: 18px 30px;
			margin-right: 20px;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #ba0000;
			transition: all 0.5s linear;
			&:hover{
				box-shadow: 0 0 30px #ffcc00;
			}


		}
		&_btn_worldwide {
			border: 2px solid #ffffff;
			border-radius: 25px;
			padding: 18px 35px;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #ffffff;
			transition: all 0.5s linear;
			&:hover{
				background: #fff;
  				box-shadow: 0 0 30px #fff;
  				color: #000;

			}

		}
	}
}
.slogan{
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: #fff;
}

.benefits {
	&__title {
		font-size: 50px;
		letter-spacing: 0.03em;
		color: #ba0000;
		margin: 114px 0 90px;
		font-weight: 700;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 80px;
	}
	&__express {
		width: 270px;
		@media screen and (max-width: 1200px) {
			flex: 0 1 50%;

			
	}
		
		&_img {}
		&_title {}
		&_subtitle {
			@media screen and (max-width: 1200px) {
			max-width: 280px;
			
			
	}
		}
	}
	&__read {
		display: flex;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 15px;
		&_text {
			font-size: 16px;
			letter-spacing: 0.03em;
			color: #222222;
			font-weight: 700;
		}
		&_arrow {
			width: 10px;
			height: 10px;
		}
	}
	&__parcel {
		width: 270px;
		@media screen and (max-width: 1200px) {
			margin-right: auto;

		}
		&_img {}
		&_title {}
		&_subtitle {}
	}
	&__frieght {
		width: 270px;
		@media screen and (max-width: 1200px) {
			flex: 0 1 50%;
		}
		&_img {}
		&_title {}
		&_subtitle {
			@media screen and (max-width: 1200px) {
			max-width: 280px;
		}
		}
	}
}
.b {
	&__title {
		font-size: 20px;
		line-height: 80px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		color: #ba0000;
		font-weight: 700;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.03em;
		color: #777777;
	}
}
.worldwide {
	width: 270px;
	background-color: #ba0000;
	padding: 30px 0 60px 30px;
	align-self:flex-start;
	@media screen and (max-width: 1200px) {
			margin-right: auto;

		}
	&__title {
		font-size: 20px;
		letter-spacing: 0.03em;
		color: #ffffff;
		margin-bottom: 30px;
	}
	&__line {
		width: 70px;
		height: 2px;
		background-color: #ffcc00;
		margin-bottom: 30px;
	}
	&__subtitle {
		font-size: 16px;
		letter-spacing: 0.03em;
		color: #E5B2B2;
		margin-bottom: 39px;
		line-height: 25px;
	}
	&__location {
		display: flex;
	}
	&__text {
		font-size: 16px;
		letter-spacing: 0.03em;
		color: #E5B2B2;
		padding: 19px 70px 19px 21px;
		background-color: #9d0000;
		margin-bottom: 39px;
	}
	&__icon {
		padding: 22px 20px;
		background-color: #ffcc00;
		&_click {}
	}
	&__btn {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #ba0000;
		padding: 20px 45px;
		background-color: #ffcc00;
		border-radius: 25px;
	}
}
.position{
	position: relative;
	margin-bottom: 309px;
	@media screen and (max-width: 1200px) {
		margin-bottom: 100px;
	}
}
.content {
	background: linear-gradient(0.0deg, rgba(255,204,0,0.7) 0%, rgba(186,0,0,0.0) 100%), url('../img/content__1.png') center no-repeat;
	background-size: cover;
	height: 700px;
	&__container{
		max-width: 1300px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&__title {
		font-size: 50px;
		letter-spacing: 0.03em;
		color: #ffffff;
		padding: 150px 0 50px 0;
		font-weight: 700;
		@media screen and (max-width: 1260px) {
			font-size: 45px;
			text-align: center;
		}
	}
	&__video {
		width: 17px;
		height: 19px;
	}
	&__video_circle{
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background-color: #ffcc00;
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
}
.cards {
	position: absolute;
	top: 500px;
	left: 0;
	width: 100%;
	@media screen and (max-width: 1200px) {
		top: 20px;
		position: relative;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media screen and (max-width: 1200px) {
			// flex-direction: column;
		}

	}
	&__aerospace {
		display: flex;
		flex-direction:column;
		align-items: center;
		&_img {
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_title {}
		&_list {}
	}
	&__title {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: #ba0000;
		margin: 30px 0;
	}
	&__list {
		font-size: 16px;
		letter-spacing: 0.03em;
		line-height: 24px;
		color: #777777;
	}
	&__li {
		background: url('..//img/icons/content__yellow.svg')left 5px no-repeat;
		padding: 0 0 0 20px;
		margin-bottom: 4px;
		&:last-child{
			margin-bottom: 0;
		}
	}	
	&__poppins {
		display: flex;
		flex-direction:column;
		align-items: center;
		&_img {
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_title {}
		&_list {}
	}
	&__airline {
		display: flex;
		flex-direction:column;
		align-items: center;
		&_img {
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_title {}
		&_list {}
	}
}

.navigator {
	&__row {
		display: flex;
		margin-bottom: 100px;
	}
	&__form {
		background-color: #ba0000;
		margin-right: auto;
		@media screen and (max-width: 1200px) {
			margin-right: 50px;
		}
		@media screen and (max-width: 992px) {
			flex: 0 1 100%;
			
		}
		&_title {
			display: flex;
		}
		&_title_express {
			line-height: 24px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #ffffff;
			padding: 20px 96px;
		}
		&_title_logistics {
			font-weight: 600;
			line-height: 24px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #ba0000;
			background-color: #ffcc00;
			padding: 20px 96px;
		}
		&_active {
			margin: 40px;
		}
		&_active_track {
			display: flex;
			justify-content: space-between;
			border: 2px solid #ffffff;
			margin-bottom: 20px;
		}
		&_active_track_text {}
		&_active_track_arrow {}
		&_active_login {
			display: flex;
			justify-content: space-between;
			border: 2px solid #ffffff;
			margin-bottom: 20px;
		}
		&_active_login_text {}
		&_active_login_arrow {}
		&_active_dhl {
			display: flex;
			justify-content: space-between;
			border: 2px solid #ffffff;
			margin-bottom: 20px;
		}
		&_active_dhl_text {}
		&_active_dhl_arrow {}
		&_active_service {
			display: flex;
			justify-content: space-between;
			border: 2px solid #ffffff;
			margin-bottom: 65px;
		}
		&_active_service_text {}
		&_active_arrow {}
	}
	&__picture {
		position: relative;
		@media screen and (max-width: 992px) {
			display: none;
		}

		
		&_bg {
			position: absolute;
			z-index: 1;
		}
		&_bayern {
			// position: absolute;
			top: 36px;
			left: 36px;
			z-index: 2;
			max-width: 430px;
		}
		&_logo {
			position: absolute;
			top: 435px;
			left: 0;
			z-index: 3;
		}
	}
}

.active {
	&_text {
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		color: #ffffff;
		padding: 20px 0 20px 20px;
	}
	&_arrow {
		border-left: 2px solid #fff;
		object-fit: none;
		padding: 22px 20px;
		cursor: pointer;
	}
}


.excellence {
	background-color: #ba0000;
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&_description {
			padding: 100px 0;
			@media screen and (max-width: 992px) {
				padding: 70px 0 50px 0;
			}
		}
		&_description_title {
			font-size: 30px;
			line-height: 24px;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			color: #ffffff;
			margin-bottom: 41px;
		}
		&_description_text {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.03em;
			color: #ffffff;
			max-width: 742px;
		}
		&_btn {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #ffffff;
			padding: 20px 30px;
			background-color: #a00000;
			border-radius: 25px;

		}
	}
}
.btn__btn_btn{
	padding-top: 170px;
	@media screen and (max-width: 992px) {
			padding-top: 0;
			margin-bottom: 50px;
		}
}
.container {
}




.brands {
	&__img {
		margin: 70px 0px 65px 0;
		display: flex;
		flex-wrap: wrap;
		&_1 {
			border: 2px solid rgba(186,0,0,0.09);
			padding: 45px 17px;
			margin-right: 20px;
			margin-bottom: 15px;
			cursor: pointer;
			flex: 0 1 25%;
			&:hover{
				border: 2px solid #ba0000;
			}
			@media screen and (max-width: 1200px) {
				flex: 0 1 45%;
			}
		}
		&_2 {
			border: 2px solid rgba(186,0,0,0.09);
			padding: 39px 19px;
			margin-right: 20px;
			margin-bottom: 15px;
			cursor: pointer;
			&:hover{
				border: 2px solid #ba0000;
			}
			@media screen and (max-width: 1200px) {
				flex: 0 1 45%;

			}
		}
		&_3 {
			border: 2px solid rgba(186,0,0,0.09);
			padding: 38px 19px;
			margin-right: 20px;
			margin-bottom: 5px;
			cursor: pointer;
			&:hover{
				border: 2px solid #ba0000;
			}
			@media screen and (max-width: 1200px) {
				flex: 0 1 45%;
			}
		}
		&_4 {
			border: 2px solid rgba(186,0,0,0.09);
			padding: 45px 18px;
			margin-bottom: 5px;
			cursor: pointer;
			&:hover{
				border: 2px solid #ba0000;
			}
			@media screen and (max-width: 1200px) {
				flex: 0 1 45%;
			}
		}
	}
}

.footer {
	&__container {
		margin: 0 auto;
		max-width: 1920px;
	}
	&__content {
		display: flex;
		// flex: 0 1 auto;
		&_red_stripe { 
			width: 40px;
			height: 311px;
			background-color: #ba0000;
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_img1 {
			max-width: 100%;
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_contact {
			margin: 0 0 0 59px;
			flex: 0 1 20%;
			@media screen and (max-width: 1200px) {
				flex: 0 1 33.333%;
			}
		}
		&_contact_title {}
		&_contact_subtitle {}
		&_contact_arrow {}
		&_contact_text {
			max-width: 215px;
		}
		&_about {
			// margin-right: 92px;
			flex: 0 1 20%;
			@media screen and (max-width: 1200px) {
				flex: 0 1 33.333%;
			}
		}
		&_about_title {}
		&_about_subtitle {}
		&_about_arrow {}
		&_about_text {
			max-width: 210px;
		}
		&_media {
			@media screen and (max-width: 1200px) {
				flex: 0 1 33.333%;
			}
		}
		&_media_title {}
		&_media_subtitle {}
		&_media_arrow {}
		&_media_text {
			max-width: 100%;
		}
		&_img2 {
			margin-left: auto;
			max-width: 100%;
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
		&_yellow_stripe {
			width: 40px;
			height: 311px;
			background-color: #ffcc00;
			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
	}
	&__title {
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 0.03em;
			color: #ba0000;
			font-weight: 600;
			margin: 60px 0 40px 0;
	}
	&__subtitle {
		display: flex;
	}
	&__arrow {
		width: 6px;
		height: 9px;
		margin-right: 5px;
	}
	&__text {
		text-transform: uppercase;
		letter-spacing: 0.03em;
		color: #777;
		margin-bottom: 10px;
		font-weight: 600;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
}
	@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}
@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
}